* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid black;
    border-top: 1px solid black;
    /* padding: 10px; */
}

.btn-reset, .btn-erase, .btn-change-canvas-size {

    width: 80px;
}

.grid-cell {
    flex-grow: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    user-select: none;
}